.tables {
  width: 200px; /* Задайте ширину, яка підходить вашим потребам */
  border: 1px solid #5b5757; /* Додайте рамку */
  border-radius: 5px; /* Додайте закруглені кути */
  padding: 10px; /* Додайте відступи всередині картки */
  margin: 10px; /* Додайте зовнішні відступи між картками */
  font-size: 15px;
  background-color: #303030;
}

.tables img {
  max-width: 100%; /* Обмежте максимальну ширину зображення */
  height: 200px; /* Збережіть пропорції зображення */
  width: 200px;
  border-radius: 5px; /* Додайте закруглені кути для зображення */
}

.tables > div {
  margin-top: 5px; /* Додайте відступи між елементами */
}

.tables > div:first-child {
  font-weight: bold; /* Зробіть назву продукту жирним */
}

/* Стили для обычного состояния */
.star {
  position: relative;
  width: 40px; /* Ширина и высота звезды */
  height: 80px;
  cursor: pointer;
  // background-color: white; /* Цвет фона */
}

.star::before {
  content: "\2605"; /* Звезда в формате Unicode */
  position: absolute;
  top: 0;
  left: 0;
  font-size: 50px; /* Размер звезды */
  color: black; /* Цвет звезды */
}

.star.active::before {
  color: yellow; /* Изменение цвета звезды при активации */
}

.tables_actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
