table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные границы */
    // max-width: 100px;
   }
   td, th {
    border: 1px solid #333; /* */
    padding: 3px; /* Поля в ячейках */
   }
   thead, tfoot {
    background: #0e0c0c; /* Цвет фона */
   }
   tr:hover {
    background: #5b5757; /* Цвет фона при наведении курсора */
    // color: #ce232a; /* Цвет текста */
    color: rgb(74, 230, 74);
   }
