  .card {
    width: 250px; /* Задайте ширину, яка підходить вашим потребам */
    border: 1px solid #5b5757; /* Додайте рамку */
    border-radius: 10px; /* Додайте закруглені кути */
    padding: 20px; /* Додайте відступи всередині картки */
    margin: 20px; /* Додайте зовнішні відступи між картками */
    font-size: 17px;
    background-color: #303030;
    transition: transform 0.3s ease, box-shadow 0.3s ease
    
  }

  .card img {
    max-width: 100%; /* Обмежте максимальну ширину зображення */
    height: 200px; /* Збережіть пропорції зображення */
    border-radius: 5px; /* Додайте закруглені кути для зображення */
  }

  .card > div {
    margin-top: 5px; /* Додайте відступи між елементами */
  }

  .card > div:first-child {
    font-weight: bold; /* Зробіть назву продукту жирним */
  }
  /* Стили для обычного состояния */


  .card_actions {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .card:hover {
    transform: scale(1.2); /* Увеличиваем масштаб на 5% при наведении */
    transition: transform 0.6s ease; /* Добавляем плавный переход */
    box-shadow: 0 0 70px 15px rgba(0, 0, 0, 0.826); /* Цвет свечения: желтый */
    transition: box-shadow 0.3s ease; /* Добавляем плавный переход для свечения */
   

  }
 
  
  .star {
    position: relative;
    width: 40px; /* Ширина и высота звезды */
    height: 80px;
    cursor: pointer;
  }

  .star::before {
    content: "\2605"; /* Звезда в формате Unicode */
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px; /* Размер звезды */
    color: black; /* Цвет звезды */
  }
 
  .star.active::before {
    color: yellow; /* Изменение цвета звезды при активации */
    transform: rotate(360deg); /* Поворачиваем на один оборот (360 градусов) */
    transition: transform 1s ease; /* Добавляем плавный переход для поворота */
    text-shadow: 0 0 10px yellow; /* Добавляем свечение */
  }

  .star.active::after {
    content: "\2605"; /* Звезда в формате Unicode */
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 20px; /* Размер маленьких звездочек */
    color: yellow; /* Цвет маленьких звездочек */
    animation: shooting-stars 1s linear forwards;
  }

  @keyframes shooting-stars {
    0% {
      transform: translateY(0) rotateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateY(-100px) rotateZ(360deg) scale(0);
      opacity: 0;
    }
  }

