.footer {
    background-color: #302f2f;
    padding: 50px 0;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer__logo {
    display: flex;
    align-items: center;
  }
  
  .footer__logo img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  
  .footer__logo h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .footer__links {
    margin-left: 20px;
  }
  
  .footer__links h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer__links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer__links ul li {
    margin-bottom: 10px;
  }
  
  .footer__links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer__links ul li a:hover {
    color: #ffcc00;
  }
  
  .footer__social {
    margin-left: 20px;
  }
  
  .footer__social h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer__social ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer__social ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer__social ul li:last-child {
    margin-right: 0;
  }
  
  .footer__social ul li a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer__social ul li a:hover {
    color: #ffcc00;
  }
  
  .footer__newsletter {
    margin-top: 20px;
  }
  
  .footer__newsletter h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer__newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
  }
  
  .footer__newsletter button {
    background-color: #ffcc00;
    color: #302f2f;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .footer__newsletter button:hover {
    background-color: #ffd633;
  }
  
  .footer__payment-methods {
    margin-top: 20px;
  }
  
  .footer__payment-methods h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer__payment-methods ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer__payment-methods ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .footer__payment-methods ul li:last-child {
    margin-right: 0;
  }
  
  .footer__payment-methods-logo {
    width: 50px;
  }
  